<ion-content mode="ios" color="light" class="ion-padding">
  <ion-header>
    <ion-toolbar mode="ios" color="light">
      <ion-buttons slot="start">
        <ion-button (click)="dismissModal()">Back <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
        </ion-button>
      </ion-buttons>
      <!-- <ion-title>{{updateMode?product.name:'Product'}}</ion-title> -->
      <ion-buttons slot="end">
        <ion-button (click)="updateMode?updateProduct():createProduct()" color="primary">
          {{updateMode?'Update':'Create'}} </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-input label="Product Name" [(ngModel)]="product.name" 
          labelPlacement="stacked" placeholder="Product"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-input label="Price" [(ngModel)]="product.price" type="number" 
          labelPlacement="stacked" placeholder="Price"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-input label="Stocks" [(ngModel)]="product.stocks" 
          labelPlacement="stacked" type="number" placeholder="Stocks"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-input label="Sell Price" type="number" [(ngModel)]="product.buyPrice" 
          labelPlacement="stacked" placeholder="Sell Price"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-input label="Barcode" [(ngModel)]="product.barcode" 
          labelPlacement="stacked" placeholder="Barcode"></ion-input>
      </ion-col>
      <ion-col size="12">
        <ion-list >
          <ion-select [(ngModel)]="product.brand" label="Brand" placeholder="Select Brand">
            <ion-select-option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</ion-select-option>
          </ion-select>
        </ion-list>
      </ion-col>
      <ion-col size="12">
        <ion-button style="width: -webkit-fill-available;" (click)="scanItem()" color="success">Scan
          Barcode</ion-button>
      </ion-col>
    </ion-row>




  </ion-grid>
</ion-content>