.head{
    padding-top: 3rem;
    padding-inline-start: 1rem;
    font-size: x-large;
    width: 90%;
    min-height: 10rem;
}
.date{
    justify-content: end;
    padding-inline-end: 1rem;
    font-size: smaller;
}
video {
    margin: 0px;
    padding: 0px;
    max-height: 16.5rem;
    max-width: 100%
}