/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import "@ionic/angular/css/palettes/dark.always.css"; 
//  @import "@ionic/angular/css/palettes/dark.class.css"; 
// @import "@ionic/angular/css/palettes/dark.system.css";

.Completed{
    background: #c8e6c9;
    color: #256029;
    font-weight: 700;
    border-radius: 4px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    width: fit-content;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px
  }
  .Paid {
    background: #c8e6c9;
    color: #256029;
    font-weight: 700;
    border-radius: 4px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    width: fit-content;

    font-size: 12px;
    letter-spacing: .3px
  }
  .Canceled  {
    background: #ffcdd2;
    color: #c63737;
    width: fit-content;

    font-weight: 700;
    border-radius: 4px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px
  
  }
  .Unpaid  {
    background: #f8fde1;
    color: #9faa01;
    font-weight: 700;
    border-radius: 4px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    width: fit-content;

    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px
  
  }
  .Draft  {
    background: #ffc1f5;
    color: #9900ff;
    font-weight: 700;
    border-radius: 4px;
    padding: 0.25em 0.5rem;
    width: fit-content;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: .3px
  
  }