<ion-content mode="ios" color="light" class="ion-padding">
  <ion-header>
    <ion-toolbar mode="ios" color="light">
      <ion-buttons slot="start">
        <ion-back-button (click)="dismissModal()" default-href="#"></ion-back-button>
      </ion-buttons>
      <ion-title translate>Products</ion-title>
      <ion-text slot="end">
        {{'Total'|translate}}: {{total}}
      </ion-text>
    </ion-toolbar>

  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar animated="true" (ionClear)="getProducts()" [placeholder]="'Product Name'|translate"
    (ionChange)="search($event.target.value)"></ion-searchbar>


  <ion-list *ngFor="let product of products" style="background-color: transparent;">
    <ion-card (click)="formMode?addProductForm(product): productForm(product)" style="margin-left: 0;margin-right: 0;">
      <ion-card-header>
        <ion-card-title>{{product.attributes.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-text>{{'Price'|translate}}: {{product.attributes.price}} {{getCurrencySymbol(cur.code)}}</ion-text>
            </ion-col>
            <ion-col style="text-align: end;" size="6">
              <ion-text [style]="product.attributes.stocks <= 0?'color:red':''">{{'Stock'|translate}}:
                {{product.attributes.stocks}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>


<ion-fab *ngIf="!formMode" class="chip" vertical="bottom" horizontal="end" slot="fixed" (click)="productForm(null)">
  <ion-fab-button color="primary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab *ngIf="!formMode" class="chip" vertical="bottom" horizontal="start" slot="fixed" (click)="scanItem()">
  <ion-fab-button color="primary">
    <ion-icon name="scan-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>